#container{
  
    text-align: center;
     width: 90%;
     display: grid;
     grid-template-columns: repeat(4,200px);
     grid-template-rows: auto;
     grid-row-gap:20px;
     grid-column-gap: 60px;
     margin: auto;
     margin-top: 20px;
    border: 1px solid red;
     /* margin-left: 4%; */
     /* justify-content: center; */
     justify-content: space-evenly;
     /* justify-content: space-between; */
  }
 
 .box{
   
    width: 300px;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* line-height: 34px; */
    /* margin: auto; */
    /* margin-top: 20px; */
    /* margin-left: 20px; */
    
 }
 
  .box>img{
    width: 220px;
    padding: 40px;
  }
 
  .box>h3{
    color: gray;
  }
 
  .box>p+p{
    margin-bottom: 15px;
  }

